<!DOCTYPE html>
<html>
    <head>
        <title><%= name %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <table class="hovertable">
            <tr>
                <th>name</th>
                <th>score</th>
            </tr>
            <tr>
                <td><%= name %></td>
                <td><%= score %></td>
            </tr>
        </table>
    </body>
</html>
